<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a ng-href="#!/home"><i class="material-icons left">home</i>Home</a></li>
            <li><a ng-href="#!/profile"><i class="material-icons left">person</i>Profile</a></li>
            <li><a ng-href="#!/profile"><i class="material-icons left">exit_to_app</i>Sign out</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a ng-href="#!/home"><i class="material-icons left">home</i>Home</a></li>
    <li><a ng-href="#!/profile"><i class="material-icons left">person</i>Profile</a></li>
    <li><a ng-href="#!/profile"><i class="material-icons left">exit_to_app</i>Sign out</a></li>
</ul>
